<h1>Create New Question</h1>

<form action="/tests/<%= params[:test_id] %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <lable for="question-text">Text:</lable>
    <input type="text" name="question[text]" id="question-text">
  </p><br>

  <input type="submit" value="Create">
</form>