<footer class="fixed-bottom bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Author: Netesanov Andrei
    <%= github_url("AndRBuZ","test-guru") %>
    <a href="https://thinknetica.com/" target="_blank" rel="nofollow noopener">Учебный проект в онлайн-школе THINKNETICA</a>
    <%= current_year %>
  </div>
</footer>
