<footer>
  <p>Author: Netesanov Andrei</p>
  <p><%= github_url("AndRBuZ","test-guru") %></p>
  <p><a href="https://thinknetica.com/" target="_blank" rel="nofollow noopener">Учебный проект в онлайн-школе THINKNETICA</a></p>
  <p><%= current_year %></p>
</footer>
