.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: aquamarine;
  background-color: purple;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: 40px;
}

.nav-admin.user {
  float: right;
}

.nav-admin.name {
  text-decoration: underline;
}

.nav.nav-admin 
a {
  color: #ffffff;
}