span.green {
  font-size: medium;
  color: green;
}

span.red {
  font-size: medium;
  color: red;
}

.progressBar {
  width: 100%;
  background-color: grey;
}

.progressBar-fill {
  width: 0%;
  height: 20px;
  background-color: #04aa6d;
  text-align: center;
  line-height: 20px;
  color: black;
}

// .timer {
//   font-size: 25px;
//   border-radius: 50%;
//   background-color: aqua;
//   text-align: center;
//   max-width: 50px;
//   height: 50px;
//   position: relative;
//   line-height: 50px;
//   color: black;
// }
