span.green {
  font-size: medium;
  color: green;
}

span.red {
  font-size: medium;
  color: red;
}

.progressBar {
  width: 100%;
  background-color: grey;
}

.progressBar-fill {
  width: 0%;
  height: 20px;
  background-color: #04aa6d;
  text-align: center;
  line-height: 20px;
  color: black;
}
